<a href="https://colab.research.google.com/github/venti-sei/Bet26/blob/main/bet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Libraries

In [1]:
# !pip install

# Import Libraries

In [2]:
import os, io, requests
import pandas as pd

In [3]:
# Import Dataset

In [4]:
seasons = {
  "2020-21": "2021",
  "2021-22": "2122",
  "2022-23": "2223",
  "2023-24": "2324",
  "2024-25": "2425",
}

base = "https://www.football-data.co.uk/mmz4281/{}/E0.csv"
out_dir = "premier_league_2020_2025"
os.makedirs(out_dir, exist_ok=True)

frames = []
for label, code in seasons.items():
  url = base.format(code)
  try:
      r = requests.get(url, timeout=30)
      r.raise_for_status()
      df = pd.read_csv(io.BytesIO(r.content))
      df["Season"] = label
      frames.append(df)
      df.to_csv(os.path.join(out_dir, f"E0_{label}.csv"), index=False)
      print(f"✓ downloaded {label}")
  except requests.HTTPError as e:
      print(f"✗ {label} missing ({e}). Skipping.")

# combined file (only for seasons that downloaded)
if frames:
  all_df = pd.concat(frames, ignore_index=True)
  all_df.to_csv(os.path.join(out_dir, "E0_2020_2025_combined.csv"), index=False)
  print(f"Combined shape: {all_df.shape}")

✓ downloaded 2020-21
✓ downloaded 2021-22
✓ downloaded 2022-23
✓ downloaded 2023-24
✓ downloaded 2024-25
Combined shape: (1900, 133)

In [5]:
"""
Date = Match Date (dd/mm/yy)
Time = Time of match kick off
HomeTeam = Home Team
AwayTeam = Away Team
FTHG and HG = Full Time Home Team Goals
FTAG and AG = Full Time Away Team Goals
FTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HFKC = Home Team Free Kicks Conceded
AFKC = Away Team Free Kicks Conceded
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)
"""

'\nDate = Match Date (dd/mm/yy)\nTime = Time of match kick off\nHomeTeam = Home Team\nAwayTeam = Away Team\nFTHG and HG = Full Time Home Team Goals\nFTAG and AG = Full Time Away Team Goals\nFTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)\nHTHG = Half Time Home Team Goals\nHTAG = Half Time Away Team Goals\nHTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)\n\nMatch Statistics (where available)\nAttendance = Crowd Attendance\nReferee = Match Referee\nHS = Home Team Shots\nAS = Away Team Shots\nHST = Home Team Shots on Target\nAST = Away Team Shots on Target\nHHW = Home Team Hit Woodwork\nAHW = Away Team Hit Woodwork\nHC = Home Team Corners\nAC = Away Team Corners\nHF = Home Team Fouls Committed\nAF = Away Team Fouls Committed\nHFKC = Home Team Free Kicks Conceded\nAFKC = Away Team Free Kicks Conceded\nHO = Home Team Offsides\nAO = Away Team Offsides\nHY = Home Team Yellow Cards\nAY = Away Team Yellow Cards\nHR = Home Team Red Cards\nAR = Away Team Red Cards\nHBP = Home Team Bookings Points (10 = yellow, 25 = red)\nABP = Away Team Bookings Points (10 = yellow, 25 = red)\n'

In [6]:
display(all_df.head(1))

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
relevant_columns = [ 'Date', 'Time', 'HomeTeam', 'AwayTeam',
                    'FTHG',	'FTAG',	'HTHG',	'HTAG',	'HTR',	'Referee',	'HS',	'AS',	'HST',	'AST',	'HF',	'AF',	'HC',	'AC',	'HY',	'AY',	'HR',	'AR' ,'FTR']

# Filter the DataFrame to keep only the relevant columns
filtered_df = all_df[relevant_columns]
display(filtered_df.head())

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,FTR
0,12/09/2020,12:30,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,...,6,12,12,2,3,2,2,0,0,A
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,1,0,H,J Moss,...,5,14,11,7,3,2,1,0,0,H
2,12/09/2020,17:30,Liverpool,Leeds,4,3,3,2,H,M Oliver,...,3,9,6,9,0,1,0,0,0,H
3,12/09/2020,20:00,West Ham,Newcastle,0,2,0,0,D,S Attwell,...,2,13,7,8,7,2,2,0,0,A
4,13/09/2020,14:00,West Brom,Leicester,0,3,0,0,D,A Taylor,...,7,12,9,2,5,1,1,0,0,A

In [8]:
filtered_df['MatchDateTime'] = pd.to_datetime(filtered_df['Date'] + ' ' + filtered_df['Time'], format='%d/%m/%Y %H:%M')
filtered_df = filtered_df.sort_values(by='MatchDateTime').reset_index(drop=True)
filtered_df['MatchOrder'] = filtered_df.index + 1

display(filtered_df.head())

/tmp/ipython-input-1528726994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['MatchDateTime'] = pd.to_datetime(filtered_df['Date'] + ' ' + filtered_df['Time'], format='%d/%m/%Y %H:%M')

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,FTR,MatchDateTime,MatchOrder
0,12/09/2020,12:30,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,...,12,2,3,2,2,0,0,A,2020-09-12 12:30:00,1
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,1,0,H,J Moss,...,11,7,3,2,1,0,0,H,2020-09-12 15:00:00,2
2,12/09/2020,17:30,Liverpool,Leeds,4,3,3,2,H,M Oliver,...,6,9,0,1,0,0,0,H,2020-09-12 17:30:00,3
3,12/09/2020,20:00,West Ham,Newcastle,0,2,0,0,D,S Attwell,...,7,8,7,2,2,0,0,A,2020-09-12 20:00:00,4
4,13/09/2020,14:00,West Brom,Leicester,0,3,0,0,D,A Taylor,...,9,2,5,1,1,0,0,A,2020-09-13 14:00:00,5

In [9]:
filtered_df.head(10)

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,FTR,MatchDateTime,MatchOrder
0,12/09/2020,12:30,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,...,12,2,3,2,2,0,0,A,2020-09-12 12:30:00,1
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,1,0,H,J Moss,...,11,7,3,2,1,0,0,H,2020-09-12 15:00:00,2
2,12/09/2020,17:30,Liverpool,Leeds,4,3,3,2,H,M Oliver,...,6,9,0,1,0,0,0,H,2020-09-12 17:30:00,3
3,12/09/2020,20:00,West Ham,Newcastle,0,2,0,0,D,S Attwell,...,7,8,7,2,2,0,0,A,2020-09-12 20:00:00,4
4,13/09/2020,14:00,West Brom,Leicester,0,3,0,0,D,A Taylor,...,9,2,5,1,1,0,0,A,2020-09-13 14:00:00,5
5,13/09/2020,16:30,Tottenham,Everton,0,1,0,0,D,M Atkinson,...,7,5,3,1,0,0,0,A,2020-09-13 16:30:00,6
6,14/09/2020,18:00,Sheffield United,Wolves,0,2,0,2,A,M Dean,...,7,12,5,2,1,0,0,A,2020-09-14 18:00:00,7
7,14/09/2020,20:15,Brighton,Chelsea,1,3,0,1,A,C Pawson,...,13,4,3,1,0,0,0,A,2020-09-14 20:15:00,8
8,19/09/2020,12:30,Everton,West Brom,5,2,2,1,H,M Dean,...,11,11,1,1,0,0,1,H,2020-09-19 12:30:00,9
9,19/09/2020,15:00,Leeds,Fulham,4,3,2,1,H,A Taylor,...,18,5,3,1,2,0,0,H,2020-09-19 15:00:00,10

In [10]:
filtered_df.tail(10)

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,FTR,MatchDateTime,MatchOrder
1890,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,0,0,D,A Taylor,...,11,7,4,2,2,0,0,A,2025-05-25 16:00:00,1891
1891,25/05/2025,16:00,Newcastle,Everton,0,1,0,0,D,T Harrington,...,9,12,3,1,4,0,0,A,2025-05-25 16:00:00,1892
1892,25/05/2025,16:00,Southampton,Arsenal,1,2,0,1,A,D Bond,...,8,5,8,0,0,0,0,A,2025-05-25 16:00:00,1893
1893,25/05/2025,16:00,Man United,Aston Villa,2,0,0,0,D,T Bramall,...,10,4,3,2,2,0,1,H,2025-05-25 16:00:00,1894
1894,25/05/2025,16:00,Tottenham,Brighton,1,4,1,0,H,R Jones,...,8,2,11,3,1,0,0,A,2025-05-25 16:00:00,1895
1895,25/05/2025,16:00,Ipswich,West Ham,1,3,0,1,A,T Robinson,...,9,4,0,1,1,0,0,A,2025-05-25 16:00:00,1896
1896,25/05/2025,16:00,Fulham,Man City,0,2,0,1,A,A Madley,...,5,1,6,0,0,0,0,A,2025-05-25 16:00:00,1897
1897,25/05/2025,16:00,Bournemouth,Leicester,2,0,0,0,D,L Smith,...,16,6,1,0,2,0,0,H,2025-05-25 16:00:00,1898
1898,25/05/2025,16:00,Liverpool,Crystal Palace,1,1,0,1,A,D England,...,10,11,0,1,0,1,0,D,2025-05-25 16:00:00,1899
1899,25/05/2025,16:00,Wolves,Brentford,1,1,0,1,A,C Pawson,...,9,8,3,2,1,0,0,D,2025-05-25 16:00:00,1900

In [11]:
filtered_df = filtered_df.drop(columns=['Date', 'Time', 'MatchDateTime'])
display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,HF,AF,HC,AC,HY,AY,HR,AR,FTR,MatchOrder
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,12,12,2,3,2,2,0,0,A,1
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,14,11,7,3,2,1,0,0,H,2
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,9,6,9,0,1,0,0,0,H,3
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,13,7,8,7,2,2,0,0,A,4
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,12,9,2,5,1,1,0,0,A,5

# Check Nonvalues

In [12]:
display(filtered_df.isnull().sum())

HomeTeam      0
AwayTeam      0
FTHG          0
FTAG          0
HTHG          0
HTAG          0
HTR           0
Referee       0
HS            0
AS            0
HST           0
AST           0
HF            0
AF            0
HC            0
AC            0
HY            0
AY            0
HR            0
AR            0
FTR           0
MatchOrder    0
dtype: int64

# Task
Create two new columns, 'HP' and 'AP', in the `filtered_df` DataFrame. The 'HP' column should contain 3 if 'FTR' is 'H', 1 if 'FTR' is 'D', and 0 otherwise. The 'AP' column should contain 3 if 'FTR' is 'A', 1 if 'FTR' is 'D', and 0 otherwise. Finally, display the head of the modified `filtered_df` to verify the new columns.

## Add Home Points (HP) Column

### Subtask:
Create the 'HP' column in `filtered_df` where its value is 3 if 'FTR' is 'H', 1 if 'FTR' is 'D', and 0 otherwise.

**Reasoning**:
To create the 'HP' column based on conditional logic, I need to import the `numpy` library and use its `select` function, which is efficient for this type of operation.

In [13]:
import numpy as np

conditions = [
    filtered_df['FTR'] == 'H',
    filtered_df['FTR'] == 'D'
]

choices = [3, 1]

filtered_df['HP'] = np.select(conditions, choices, default=0)

display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,AF,HC,AC,HY,AY,HR,AR,FTR,MatchOrder,HP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,12,2,3,2,2,0,0,A,1,0
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,11,7,3,2,1,0,0,H,2,3
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,6,9,0,1,0,0,0,H,3,3
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,7,8,7,2,2,0,0,A,4,0
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,9,2,5,1,1,0,0,A,5,0

**Reasoning**:
The next step is to create the 'AP' column in `filtered_df` based on the 'FTR' column. I will use `np.select` to apply the conditional logic: 3 points for an 'A' (Away win), 1 for a 'D' (Draw), and 0 otherwise.

In [14]:
conditions_ap = [
    filtered_df['FTR'] == 'A',
    filtered_df['FTR'] == 'D'
]

choices_ap = [3, 1]

filtered_df['AP'] = np.select(conditions_ap, choices_ap, default=0)

display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,HC,AC,HY,AY,HR,AR,FTR,MatchOrder,HP,AP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,2,3,2,2,0,0,A,1,0,3
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,7,3,2,1,0,0,H,2,3,0
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,9,0,1,0,0,0,H,3,3,0
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,8,7,2,2,0,0,A,4,0,3
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,2,5,1,1,0,0,A,5,0,3

In [15]:
display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,HC,AC,HY,AY,HR,AR,FTR,MatchOrder,HP,AP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,2,3,2,2,0,0,A,1,0,3
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,7,3,2,1,0,0,H,2,3,0
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,9,0,1,0,0,0,H,3,3,0
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,8,7,2,2,0,0,A,4,0,3
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,2,5,1,1,0,0,A,5,0,3

In [16]:
filtered_df = filtered_df.drop(columns=['FTR'])
display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,AF,HC,AC,HY,AY,HR,AR,MatchOrder,HP,AP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,12,2,3,2,2,0,0,1,0,3
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,11,7,3,2,1,0,0,2,3,0
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,6,9,0,1,0,0,0,3,3,0
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,7,8,7,2,2,0,0,4,0,3
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,9,2,5,1,1,0,0,5,0,3

# Feature Collection

## Add HRP and ARP

In [17]:
home_matches = filtered_df[['HomeTeam', 'AwayTeam', 'HP', 'MatchOrder']].copy()
home_matches.rename(columns={'HomeTeam': 'Team', 'AwayTeam': 'Opponent', 'HP': 'Points'}, inplace=True)

away_matches = filtered_df[['AwayTeam', 'HomeTeam', 'AP', 'MatchOrder']].copy()
away_matches.rename(columns={'AwayTeam': 'Team', 'HomeTeam': 'Opponent', 'AP': 'Points'}, inplace=True)

combined_match_data = pd.concat([home_matches, away_matches], ignore_index=True)
combined_match_data = combined_match_data.sort_values(by='MatchOrder').reset_index(drop=True)

display(combined_match_data.head())

             Team        Opponent  Points  MatchOrder
0          Fulham         Arsenal       0           1
1         Arsenal          Fulham       3           1
2  Crystal Palace     Southampton       3           2
3     Southampton  Crystal Palace       0           2
4       Liverpool           Leeds       3           3

In [18]:
combined_match_data['RollingPoints'] = combined_match_data.groupby('Team')['Points'].transform(lambda x: x.rolling(window=10, min_periods=1).sum().shift(1))
display(combined_match_data.head(20))

                Team          Opponent  Points  MatchOrder  RollingPoints
0             Fulham           Arsenal       0           1            NaN
1            Arsenal            Fulham       3           1            NaN
2     Crystal Palace       Southampton       3           2            NaN
3        Southampton    Crystal Palace       0           2            NaN
4          Liverpool             Leeds       3           3            NaN
5              Leeds         Liverpool       0           3            NaN
6          Newcastle          West Ham       3           4            NaN
7           West Ham         Newcastle       0           4            NaN
8          Leicester         West Brom       3           5            NaN
9          West Brom         Leicester       0           5            NaN
10         Tottenham           Everton       0           6            NaN
11           Everton         Tottenham       3           6            NaN
12            Wolves  Sheffield United       3           7            NaN
13  Sheffield United            Wolves       0           7            NaN
14          Brighton           Chelsea       0           8            NaN
15           Chelsea          Brighton       3           8            NaN
16         West Brom           Everton       0           9            0.0
17           Everton         West Brom       3           9            3.0
18             Leeds            Fulham       3          10            0.0
19            Fulham             Leeds       0          10            0.0

In [19]:
home_rolling_points = combined_match_data[combined_match_data['Team'] == combined_match_data['Opponent']].drop(columns=['Opponent'])
filtered_df = pd.merge(filtered_df, combined_match_data[['Team', 'MatchOrder', 'RollingPoints']], left_on=['HomeTeam', 'MatchOrder'], right_on=['Team', 'MatchOrder'], how='left')
filtered_df.rename(columns={'RollingPoints': 'HRP'}, inplace=True)
filtered_df.drop(columns=['Team'], inplace=True)

filtered_df = pd.merge(filtered_df, combined_match_data[['Team', 'MatchOrder', 'RollingPoints']], left_on=['AwayTeam', 'MatchOrder'], right_on=['Team', 'MatchOrder'], how='left')
filtered_df.rename(columns={'RollingPoints': 'ARP'}, inplace=True)
filtered_df.drop(columns=['Team'], inplace=True)

display(filtered_df.tail(10))

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,MatchOrder,HP,AP,HRP,ARP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,3,2,2,0,0,1,0,3,NaN,NaN
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,3,2,1,0,0,2,3,0,NaN,NaN
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,0,1,0,0,0,3,3,0,NaN,NaN
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,7,2,2,0,0,4,0,3,NaN,NaN
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,5,1,1,0,0,5,0,3,NaN,NaN

## Last 5 Home and Away Points

# Task
Calculate 'HL5HP' by creating a temporary DataFrame for home matches, grouping by 'HomeTeam', calculating the rolling sum of 'HP' over the last 5 matches (shifted by 1), and then merging the result into `filtered_df`. Similarly, calculate 'AL5AP' by creating a temporary DataFrame for away matches, grouping by 'AwayTeam', calculating the rolling sum of 'AP' over the last 5 matches (shifted by 1), and then merging the result into `filtered_df`.

## Calculate Home Team Last 5 Home Points

### Subtask:
Create a temporary DataFrame with only home matches, calculate the rolling sum of 'HP' for each HomeTeam over the last 5 matches (shifted by 1), and then merge this back into 'filtered_df' as 'HL5HP'.

**Reasoning**:
First, I'll create a temporary DataFrame containing only the relevant columns for home matches, then calculate the rolling sum of 'HP' for each 'HomeTeam' over the last 5 matches, shifting by one to avoid data leakage. Finally, I will merge this new feature back into the original `filtered_df`.

In [20]:
home_matches_temp = filtered_df[['HomeTeam', 'MatchOrder', 'HP']].copy()
home_matches_temp['HL5HP'] = home_matches_temp.groupby('HomeTeam')['HP'].transform(lambda x: x.rolling(window=5, min_periods=1).sum().shift(1))

filtered_df = pd.merge(filtered_df, home_matches_temp[['HomeTeam', 'MatchOrder', 'HL5HP']], on=['HomeTeam', 'MatchOrder'], how='left')

display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,HY,AY,HR,AR,MatchOrder,HP,AP,HRP,ARP,HL5HP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,2,2,0,0,1,0,3,NaN,NaN,NaN
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,2,1,0,0,2,3,0,NaN,NaN,NaN
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,1,0,0,0,3,3,0,NaN,NaN,NaN
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,2,2,0,0,4,0,3,NaN,NaN,NaN
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,1,1,0,0,5,0,3,NaN,NaN,NaN

**Reasoning**:
Now that 'HL5HP' is calculated, I will calculate 'AL5AP' by creating a temporary DataFrame for away matches, computing the rolling sum of 'AP' over the last 5 matches (shifted by 1), and then merging this new feature into `filtered_df`.

In [21]:
away_matches_temp = filtered_df[['AwayTeam', 'MatchOrder', 'AP']].copy()
away_matches_temp['AL5AP'] = away_matches_temp.groupby('AwayTeam')['AP'].transform(lambda x: x.rolling(window=5, min_periods=1).sum().shift(1))

filtered_df = pd.merge(filtered_df, away_matches_temp[['AwayTeam', 'MatchOrder', 'AL5AP']], on=['AwayTeam', 'MatchOrder'], how='left')

display(filtered_df.head())

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,...,AY,HR,AR,MatchOrder,HP,AP,HRP,ARP,HL5HP,AL5AP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,...,2,0,0,1,0,3,NaN,NaN,NaN,NaN
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,...,1,0,0,2,3,0,NaN,NaN,NaN,NaN
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,...,0,0,0,3,3,0,NaN,NaN,NaN,NaN
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,...,2,0,0,4,0,3,NaN,NaN,NaN,NaN
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,...,1,0,0,5,0,3,NaN,NaN,NaN,NaN

In [24]:
pd.set_option('display.max_rows', None)
display(filtered_df.head(100))

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,MatchOrder,HP,AP,HRP,ARP,HL5HP,AL5AP
0,Fulham,Arsenal,0,3,0,1,A,C Kavanagh,5,13,2,6,12,12,2,3,2,2,0,0,1,0,3,NaN,NaN,NaN,NaN
1,Crystal Palace,Southampton,1,0,1,0,H,J Moss,5,9,3,5,14,11,7,3,2,1,0,0,2,3,0,NaN,NaN,NaN,NaN
2,Liverpool,Leeds,4,3,3,2,H,M Oliver,22,6,6,3,9,6,9,0,1,0,0,0,3,3,0,NaN,NaN,NaN,NaN
3,West Ham,Newcastle,0,2,0,0,D,S Attwell,15,15,3,2,13,7,8,7,2,2,0,0,4,0,3,NaN,NaN,NaN,NaN
4,West Brom,Leicester,0,3,0,0,D,A Taylor,7,13,1,7,12,9,2,5,1,1,0,0,5,0,3,NaN,NaN,NaN,NaN
5,Tottenham,Everton,0,1,0,0,D,M Atkinson,9,15,5,4,15,7,5,3,1,0,0,0,6,0,3,NaN,NaN,NaN,NaN
6,Sheffield United,Wolves,0,2,0,2,A,M Dean,9,11,2,4,13,7,12,5,2,1,0,0,7,0,3,NaN,NaN,NaN,NaN
7,Brighton,Chelsea,1,3,0,1,A,C Pawson,13,10,3,5,8,13,4,3,1,0,0,0,8,0,3,NaN,NaN,NaN,NaN
8,Everton,West Brom,5,2,2,1,H,M Dean,17,6,7,4,9,11,11,1,1,0,0,1,9,3,0,3.0,0.0,NaN,NaN
9,Leeds,Fulham,4,3,2,1,H,A Taylor,10,14,7,6,13,18,5,3,1,2,0,0,10,3,0,0.0,0.0,NaN,NaN
10,Man United,Crystal Palace,1,3,0,1,A,M Atkinson,13,14,4,5,13,10,9,3,2,1,0,0,11,0,3,NaN,3.0,NaN,NaN
11,Arsenal,West Ham,2,1,1,1,D,M Oliver,7,14,3,3,11,13,7,5,0,1,0,0,12,3,0,3.0,0.0,NaN,NaN
12,Southampton,Tottenham,2,5,1,1,D,D Coote,14,9,7,6,16,18,3,2,4,3,0,0,13,0,3,0.0,0.0,NaN,NaN
13,Newcastle,Brighton,0,3,0,2,A,K Friend,6,13,0,6,16,15,7,1,3,0,0,1,14,0,3,3.0,0.0,NaN,NaN
14,Chelsea,Liverpool,0,2,0,0,D,P Tierney,5,18,3,6,10,6,1,11,0,0,1,0,15,0,3,3.0,3.0,NaN,NaN
15,Leicester,Burnley,4,2,1,1,D,L Mason,14,16,6,5,11,13,15,4,1,2,0,0,16,3,0,3.0,NaN,NaN,NaN
16,Aston Villa,Sheffield United,1,0,0,0,D,G Scott,18,4,2,1,12,13,10,4,3,1,0,1,17,3,0,NaN,0.0,NaN,NaN
17,Wolves,Man City,1,3,0,2,A,A Marriner,10,14,1,9,6,8,4,6,0,3,0,0,18,0,3,3.0,NaN,NaN,NaN
18,Brighton,Man United,2,3,1,1,D,C Kavanagh,18,7,5,3,18,16,7,1,4,2,0,0,19,0,3,3.0,0.0,0.0,NaN
19,Crystal Palace,Everton,1,2,1,2,A,K Friend,8,10,1,5,16,15,7,6,3,1,0,0,20,0,3,6.0,6.0,3.0,3.0
20,West Brom,Chelsea,3,3,3,0,H,J Moss,9,22,3,10,8,16,3,9,1,3,0,0,21,1,1,0.0,3.0,0.0,3.0
21,Burnley,Southampton,0,1,0,1,A,A Marriner,10,5,2,1,8,10,8,2,1,0,0,0,22,0,3,0.0,0.0,NaN,0.0
22,Sheffield United,Leeds,0,1,0,0,D,P Tierney,14,17,4,9,18,4,5,7,2,1,0,0,23,0,3,0.0,3.0,0.0,0.0
23,Tottenham,Newcastle,1,1,1,0,H,P Bankes,23,6,12,1,15,9,10,4,1,4,0,0,24,1,1,3.0,3.0,0.0,3.0
24,Man City,Leicester,2,5,1,1,D,M Oliver,16,7,5,7,13,8,3,4,1,3,0,0,25,0,3,3.0,6.0,NaN,3.0
25,West Ham,Wolves,4,0,1,0,H,M Atkinson,15,11,7,2,7,11,1,3,0,1,0,0,26,3,0,0.0,3.0,0.0,3.0
26,Fulham,Aston Villa,0,3,0,2,A,S Attwell,16,12,3,5,18,14,5,3,6,3,0,0,27,0,3,0.0,3.0,0.0,NaN
27,Liverpool,Arsenal,3,1,2,1,H,C Pawson,21,4,8,3,11,7,7,3,2,2,0,0,28,3,0,6.0,6.0,3.0,3.0
28,Chelsea,Crystal Palace,4,0,0,0,D,M Oliver,17,4,6,0,17,13,8,5,2,0,0,0,29,3,0,4.0,6.0,0.0,3.0
29,Everton,Brighton,4,2,2,1,H,S Hooper,11,11,6,3,13,14,3,10,0,1,0,0,30,3,0,9.0,3.0,3.0,3.0
30,Leeds,Man City,1,1,0,1,A,M Dean,12,23,7,2,11,12,7,10,2,1,0,0,31,1,1,6.0,3.0,3.0,3.0
31,Newcastle,Burnley,3,1,1,0,H,D Coote,10,7,5,3,13,17,3,4,2,3,0,0,32,3,0,4.0,0.0,0.0,0.0
32,Leicester,West Ham,0,3,0,2,A,A Madley,4,14,0,6,11,8,6,4,2,2,0,0,33,0,3,9.0,3.0,3.0,0.0
33,Southampton,West Brom,2,0,1,0,H,C Kavanagh,13,5,7,2,19,10,5,1,2,1,0,0,34,3,0,3.0,1.0,0.0,0.0
34,Arsenal,Sheffield United,2,1,0,0,D,L Mason,6,6,5,2,3,9,2,4,0,1,0,0,35,3,0,6.0,0.0,3.0,0.0
35,Wolves,Fulham,1,0,0,0,D,D England,14,10,5,2,15,8,6,2,1,1,0,0,36,3,0,3.0,0.0,0.0,0.0
36,Man United,Tottenham,1,6,1,4,A,A Taylor,5,22,2,8,14,10,2,4,2,1,1,0,37,0,3,3.0,4.0,0.0,3.0
37,Aston Villa,Liverpool,7,2,4,1,H,M Atkinson,18,14,11,8,7,10,2,7,2,1,0,0,38,3,0,6.0,9.0,3.0,3.0
38,Everton,Liverpool,2,2,1,1,D,M Oliver,11,22,5,8,15,9,2,5,3,2,1,0,39,1,1,12.0,9.0,6.0,3.0
39,Chelsea,Southampton,3,3,2,1,H,P Bankes,11,13,5,6,11,9,6,2,1,1,0,0,40,1,1,7.0,6.0,3.0,3.0
40,Man City,Arsenal,1,0,1,0,H,C Kavanagh,13,11,5,3,15,10,6,6,4,1,0,0,41,3,0,4.0,9.0,0.0,3.0
41,Newcastle,Man United,1,4,1,1,D,C Pawson,7,28,4,14,9,12,0,7,1,1,0,0,42,0,3,7.0,3.0,3.0,3.0
42,Sheffield United,Fulham,1,1,0,0,D,A Marriner,10,15,6,6,5,9,2,5,0,2,0,0,43,1,1,0.0,0.0,0.0,0.0
43,Crystal Palace,Brighton,1,1,1,0,H,S Attwell,1,20,1,3,13,12,2,5,3,2,0,1,44,1,1,6.0,3.0,3.0,3.0
44,Tottenham,West Ham,3,3,3,0,H,P Tierney,11,13,6,4,13,12,3,7,0,5,0,0,45,1,1,7.0,6.0,1.0,3.0
45,Leicester,Aston Villa,0,1,0,0,D,J Moss,11,10,5,4,18,18,2,7,4,3,0,0,46,0,3,9.0,9.0,3.0,3.0
46,West Brom,Burnley,0,0,0,0,D,A Taylor,13,9,6,4,15,17,8,2,2,2,0,0,47,1,1,1.0,0.0,1.0,0.0
47,Leeds,Wolves,0,1,0,0,D,D Coote,13,7,2,3,13,12,8,3,2,1,0,0,48,0,3,7.0,6.0,4.0,3.0
48,Aston Villa,Leeds,0,3,0,0,D,P Tierney,12,27,4,9,14,17,6,5,2,2,0,0,49,0,3,12.0,7.0,6.0,3.0
49,West Ham,Man City,1,1,1,0,H,A Taylor,6,14,2,7,14,6,2,10,2,0,0,0,50,1,1,7.0,7.0,3.0,4.0
50,Fulham,Crystal Palace,1,2,0,1,A,G Scott,16,14,3,10,11,11,4,4,0,1,1,0,51,0,3,1.0,7.0,0.0,3.0
51,Man United,Chelsea,0,0,0,0,D,M Atkinson,14,6,4,1,8,6,9,6,3,1,0,0,52,1,1,6.0,8.0,0.0,4.0
52,Liverpool,Sheffield United,2,1,1,1,D,M Dean,17,13,5,2,7,15,7,3,0,3,0,0,53,3,0,10.0,1.0,6.0,0.0
53,Southampton,Everton,2,0,2,0,H,K Friend,12,6,6,2,11,11,4,5,1,2,0,1,54,3,0,7.0,13.0,3.0,6.0
54,Wolves,Newcastle,1,1,0,0,D,L Mason,16,5,3,2,10,10,2,3,0,1,0,0,55,1,1,9.0,7.0,3.0,4.0
55,Arsenal,Leicester,0,1,0,0,D,C Pawson,12,6,4,2,13,9,9,3,3,5,0,0,56,0,3,9.0,9.0,6.0,6.0
56,Brighton,West Brom,1,1,1,0,H,J Moss,5,9,3,3,14,7,6,2,2,0,0,0,57,1,1,4.0,2.0,0.0,0.0
57,Burnley,Tottenham,0,1,0,0,D,M Oliver,13,9,4,3,9,7,4,5,2,0,0,0,58,0,3,1.0,8.0,0.0,6.0
58,Wolves,Crystal Palace,2,0,2,0,H,M Atkinson,15,11,5,2,13,4,7,6,0,2,0,1,59,3,0,10.0,10.0,4.0,6.0
59,Sheffield United,Man City,0,1,0,1,A,M Oliver,5,16,1,8,14,6,2,5,0,0,0,0,60,0,3,1.0,8.0,1.0,5.0
60,Burnley,Chelsea,0,3,0,1,A,D Coote,5,14,0,9,10,15,3,4,1,0,0,0,61,0,3,1.0,9.0,0.0,5.0
61,Liverpool,West Ham,2,1,1,1,D,K Friend,9,4,5,3,13,14,1,2,0,1,0,0,62,3,0,13.0,8.0,9.0,4.0
62,Aston Villa,Southampton,3,4,0,3,A,D England,19,9,10,4,12,17,11,1,1,2,0,0,63,0,3,12.0,10.0,6.0,4.0
63,Newcastle,Everton,2,1,0,0,D,S Attwell,11,15,4,4,9,10,5,4,2,4,0,0,64,3,0,8.0,13.0,3.0,6.0
64,Man United,Arsenal,0,1,0,0,D,M Dean,8,7,2,2,12,12,6,3,3,3,0,0,65,0,3,7.0,9.0,1.0,3.0
65,Tottenham,Brighton,2,1,1,0,H,G Scott,9,6,3,2,14,13,4,5,2,1,0,0,66,3,0,11.0,5.0,2.0,4.0
66,Fulham,West Brom,2,0,2,0,H,S Hooper,13,10,6,1,13,11,5,2,3,2,0,0,67,3,0,1.0,3.0,0.0,1.0
67,Leeds,Leicester,1,4,0,2,A,A Marriner,11,10,4,8,9,5,10,3,1,1,0,0,68,0,3,10.0,12.0,4.0,9.0
68,Brighton,Burnley,0,0,0,0,D,M Dean,19,4,3,1,11,5,5,3,1,0,0,0,69,1,1,5.0,1.0,1.0,1.0
69,Southampton,Newcastle,2,0,1,0,H,P Bankes,15,4,8,2,12,11,8,3,1,2,0,0,70,3,0,13.0,11.0,6.0,5.0
70,Everton,Man United,1,3,1,2,A,P Tierney,7,13,1,5,12,19,5,2,4,2,0,0,71,0,3,13.0,7.0,7.0,6.0
71,Crystal Palace,Leeds,4,1,3,1,H,C Kavanagh,10,9,6,3,9,1,3,6,0,2,0,0,72,3,0,10.0,10.0,4.0,6.0
72,Chelsea,Sheffield United,4,1,2,1,H,J Moss,20,6,9,3,5,14,6,7,0,2,0,0,73,3,0,12.0,1.0,4.0,0.0
73,West Ham,Fulham,1,0,0,0,D,R Jones,16,13,7,3,10,9,9,5,2,2,0,0,74,3,0,8.0,4.0,4.0,1.0
74,West Brom,Tottenham,0,1,0,0,D,A Madley,12,19,2,5,17,12,9,6,1,0,0,0,75,0,3,3.0,14.0,2.0,9.0
75,Leicester,Wolves,1,0,1,0,H,A Taylor,10,7,3,2,12,8,6,3,2,3,0,0,76,3,0,15.0,13.0,3.0,6.0
76,Man City,Liverpool,1,1,1,1,D,C Pawson,7,10,2,3,19,11,1,2,3,1,0,0,77,1,1,11.0,16.0,3.0,4.0
77,Arsenal,Aston Villa,0,3,0,1,A,M Atkinson,13,15,2,6,11,13,3,8,0,0,0,0,78,0,3,12.0,12.0,6.0,6.0
78,Newcastle,Chelsea,0,2,0,1,A,C Pawson,8,14,1,3,11,12,7,4,2,0,0,0,79,0,3,11.0,15.0,6.0,8.0
79,Aston Villa,Brighton,1,2,0,1,A,M Oliver,15,7,4,3,5,18,12,3,2,1,0,1,80,0,3,15.0,6.0,6.0,4.0
80,Tottenham,Man City,2,0,1,0,H,M Dean,4,22,2,5,13,19,0,10,2,2,0,0,81,3,0,17.0,12.0,5.0,8.0
81,Man United,West Brom,1,0,0,0,D,D Coote,17,7,7,2,12,17,8,2,1,1,0,0,82,3,0,10.0,3.0,1.0,1.0
82,Fulham,Everton,2,3,1,3,A,A Madley,14,9,6,7,14,10,2,5,2,0,0,0,83,0,3,4.0,13.0,3.0,6.0
83,Sheffield United,West Ham,0,1,0,0,D,M Atkinson,9,15,5,3,7,6,2,6,0,0,0,0,84,0,3,1.0,11.0,1.0,4.0
84,Leeds,Arsenal,0,0,0,0,D,A Taylor,25,9,4,2,9,8,5,3,3,0,0,1,85,1,1,10.0,12.0,4.0,6.0
85,Liverpool,Leicester,3,0,2,0,H,C Kavanagh,24,11,13,4,15,6,10,3,0,2,0,0,86,3,0,17.0,18.0,12.0,12.0
86,Burnley,Crystal Palace,1,0,1,0,H,K Friend,10,15,4,5,13,9,4,7,2,0,0,0,87,3,0,2.0,13.0,0.0,6.0
87,Wolves,Southampton,1,1,0,0,D,A Marriner,20,7,9,2,14,13,7,4,2,0,0,0,88,1,1,13.0,16.0,7.0,7.0
88,Crystal Palace,Newcastle,0,2,0,0,D,G Scott,12,14,3,7,9,10,7,3,2,2,0,0,89,0,3,13.0,11.0,7.0,5.0
89,Brighton,Liverpool,1,1,0,0,D,S Attwell,11,6,3,2,9,13,4,3,2,1,0,0,90,1,1,9.0,20.0,2.0,5.0
90,Man City,Burnley,5,0,3,0,H,L Mason,19,9,6,1,12,4,6,4,0,0,0,0,91,3,0,12.0,5.0,4.0,2.0
91,Everton,Leeds,0,1,0,0,D,C Kavanagh,15,23,8,7,8,14,4,2,1,2,0,0,92,0,3,16.0,11.0,7.0,6.0
92,West Brom,Sheffield United,1,0,1,0,H,M Dean,17,21,6,5,10,9,14,9,2,3,0,0,93,3,0,3.0,1.0,2.0,0.0
93,Southampton,Man United,2,3,2,0,H,J Moss,10,15,5,6,12,12,5,9,1,0,0,0,94,0,3,17.0,13.0,9.0,9.0
94,Chelsea,Tottenham,0,0,0,0,D,P Tierney,13,5,3,1,20,9,3,3,4,2,0,0,95,1,1,18.0,20.0,7.0,12.0
95,Arsenal,Wolves,1,2,1,2,A,M Oliver,13,11,2,5,13,13,8,4,3,4,0,0,96,0,3,13.0,14.0,6.0,6.0
96,Leicester,Fulham,1,2,0,2,A,S Hooper,16,10,3,5,9,21,6,5,0,2,0,0,97,0,3,18.0,4.0,6.0,1.0
97,West Ham,Aston Villa,2,1,1,1,D,P Bankes,6,16,2,6,20,7,3,7,1,1,0,0,98,3,0,14.0,15.0,7.0,9.0
98,Burnley,Everton,1,1,1,1,D,A Taylor,8,13,3,6,6,9,8,4,0,0,0,0,99,1,1,5.0,16.0,3.0,9.0
99,Man City,Fulham,2,0,2,0,H,J Moss,16,6,6,1,7,6,9,3,0,0,0,0,100,3,0,15.0,7.0,7.0,4.0

## Summary:

### Data Analysis Key Findings
*   The `filtered_df` DataFrame was successfully augmented with two new features: 'HL5HP' and 'AL5AP'.
*   'HL5HP' represents the sum of 'HP' (Home Points) for a team in its last 5 home matches, shifted by 1 to avoid data leakage (i.e., not including the current match's points).
*   'AL5AP' represents the sum of 'AP' (Away Points) for a team in its last 5 away matches, also shifted by 1.
*   Initial values for 'HL5HP' and 'AL5AP' are `NaN` for early matches due to the rolling window and shift operations, which is expected behavior.

### Insights or Next Steps
*   These newly calculated rolling statistics ('HL5HP' and 'AL5AP') can serve as valuable features for predictive modeling, providing historical team performance metrics specific to home and away games.
*   Further feature engineering could involve calculating similar rolling statistics for other performance metrics (e.g., goals scored, goals conceded) for both home and away matches to enrich the dataset for machine learning models.