<a href="https://colab.research.google.com/github/venti-sei/Bet26/blob/main/random_forest_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#

# Import Libraries

In [16]:
import pandas as pd

# Clone Bet26 Repo

In [17]:
import os

# Your GitHub token and username
github_token = "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"
github_username = "aliknot"

repo_url = f"https://{github_username}:{github_token}@github.com/venti-sei/Bet26.git"

# Clone the repository
# This command will execute in the shell
!git clone {repo_url}

print("Repository cloned successfully!")

fatal: destination path 'Bet26' already exists and is not an empty directory.
Repository cloned successfully!

# Create Dataframe

In [18]:
# Read the CSV file from the specified path
df = pd.read_csv('/content/Bet26/features_df.csv')

# Display the first few rows of the DataFrame
display(df.head())

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,H_H_F_A_10,H_A_F_A_10,H_H_YC_10,H_A_YC_10,H_H_YC_A_10,H_A_YC_A_10,H_H_RC_10,H_A_RC_10,H_H_RC_A_10,H_A_RC_A_10
0,E0,Fulham,Arsenal,0,3,A,0,1,A,C Kavanagh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,Crystal Palace,Southampton,1,0,H,1,0,H,J Moss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,Liverpool,Leeds,4,3,H,3,2,H,M Oliver,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,West Ham,Newcastle,0,2,A,0,0,D,S Attwell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,West Brom,Leicester,0,3,A,0,0,D,A Taylor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Select Columns Needed

In [19]:
columns_to_select = [
    'FTR',
    'Referee',
    'H_HRP_10',
    'H_ARP_10',
    'H_H_P_5',
    'H_A_P_5',
    'H_H2H_H_2',
    'H_H2H_A_2',
    'H_H_GS_10',
    'H_A_GS_10',
    'H_H_GC_10',
    'H_A_GC_10',
    'H_H_HGS_10',
    'H_A_HGS_10',
    'H_H_HGC_10',
    'H_A_HGC_10',
    'H_H_S_10',
    'H_A_S_10',
    'H_H_S_A_10',
    'H_A_S_A_10',
    'H_H_ST_10',
    'H_A_ST_10',
    'H_H_ST_A_10',
    'H_A_ST_A_10',
    'H_H_C_10',
    'H_A_C_10',
    'H_H_C_A_10',
    'H_A_C_A_10',
    'H_H_F_10',
    'H_A_F_10',
    'H_H_F_A_10',
    'H_A_F_A_10',
    'H_H_KC_10',
    'H_A_KC_10',
    'H_H_KC_A_10',
    'H_A_KC_A_10',
    'H_H_YC_10',
    'H_A_YC_10',
    'H_H_YC_A_10',
    'H_A_YC_A_10',
    'H_H_RC_10',
    'H_A_RC_10',
    'H_H_RC_A_10',
    'H_A_RC_A_10'
]

# Filter out columns that might not exist in df, if any have been renamed or removed
existing_columns = [col for col in columns_to_select if col in df.columns]

# Create the new DataFrame rf_df with only the selected columns
rf_df = df[existing_columns].copy()

# Display the first few rows of the new DataFrame
display(rf_df.head())

,FTR,Referee,H_HRP_10,H_ARP_10,H_H_P_5,H_A_P_5,H_H2H_H_2,H_H2H_A_2,H_H_GS_10,H_A_GS_10,...,H_H_F_A_10,H_A_F_A_10,H_H_YC_10,H_A_YC_10,H_H_YC_A_10,H_A_YC_A_10,H_H_RC_10,H_A_RC_10,H_H_RC_A_10,H_A_RC_A_10
0,A,C Kavanagh,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H,J Moss,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H,M Oliver,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,S Attwell,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,A Taylor,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Handle Non-values

In [20]:
display(rf_df.isnull().sum())

FTR             0
Referee         0
H_HRP_10       15
H_ARP_10       12
H_H_P_5        27
H_A_P_5        27
H_H2H_H_2       0
H_H2H_A_2       0
H_H_GS_10      15
H_A_GS_10      12
H_H_GC_10      15
H_A_GC_10      12
H_H_HGS_10     15
H_A_HGS_10     12
H_H_HGC_10     15
H_A_HGC_10     12
H_H_S_10       15
H_A_S_10       12
H_H_S_A_10     15
H_A_S_A_10     12
H_H_ST_10      15
H_A_ST_10      12
H_H_ST_A_10    15
H_A_ST_A_10    12
H_H_C_10       15
H_A_C_10       12
H_H_C_A_10     15
H_A_C_A_10     12
H_H_F_10       15
H_A_F_10       12
H_H_F_A_10     15
H_A_F_A_10     12
H_H_YC_10      15
H_A_YC_10      12
H_H_YC_A_10    15
H_A_YC_A_10    12
H_H_RC_10      15
H_A_RC_10      12
H_H_RC_A_10    15
H_A_RC_A_10    12
dtype: int64

In [21]:
from sklearn.impute import KNNImputer
import pandas as pd

# Re-create rf_df to get the NaNs back, as the previous step filled them with 0.
# The 'df' variable still holds the original data with NaNs.
# Using 'existing_columns' from the kernel state to ensure consistent column selection.

existing_columns_in_df = [col for col in columns_to_select if col in df.columns]
rf_df_knn_imputed = df[existing_columns_in_df].copy()

print("Original NaN count before KNN imputation:")
display(rf_df_knn_imputed.isnull().sum())

# Identify numerical columns for imputation
# Exclude 'FTR' (categorical result) and 'Referee' (categorical name)
numerical_cols = rf_df_knn_imputed.select_dtypes(include=['number']).columns.tolist()

# Initialize KNNImputer (using 5 neighbors as a common default)
imputer = KNNImputer(n_neighbors=5)

# Apply KNN imputation to the numerical columns
# The fit_transform method returns a numpy array, so we assign it back to the DataFrame.
rf_df_knn_imputed[numerical_cols] = imputer.fit_transform(rf_df_knn_imputed[numerical_cols])

# Display the first few rows of the DataFrame after imputation
print("\nDataFrame after KNN imputation:")
display(rf_df_knn_imputed.head())

# Verify that there are no more missing values
print("\nNaN count after KNN imputation:")
display(rf_df_knn_imputed.isnull().sum())

# Update the main rf_df variable with the KNN imputed version
rf_df = rf_df_knn_imputed.copy()
print("\nrf_df has been updated with KNN imputed values.")

Original NaN count before KNN imputation:

FTR             0
Referee         0
H_HRP_10       15
H_ARP_10       12
H_H_P_5        27
H_A_P_5        27
H_H2H_H_2       0
H_H2H_A_2       0
H_H_GS_10      15
H_A_GS_10      12
H_H_GC_10      15
H_A_GC_10      12
H_H_HGS_10     15
H_A_HGS_10     12
H_H_HGC_10     15
H_A_HGC_10     12
H_H_S_10       15
H_A_S_10       12
H_H_S_A_10     15
H_A_S_A_10     12
H_H_ST_10      15
H_A_ST_10      12
H_H_ST_A_10    15
H_A_ST_A_10    12
H_H_C_10       15
H_A_C_10       12
H_H_C_A_10     15
H_A_C_A_10     12
H_H_F_10       15
H_A_F_10       12
H_H_F_A_10     15
H_A_F_A_10     12
H_H_YC_10      15
H_A_YC_10      12
H_H_YC_A_10    15
H_A_YC_A_10    12
H_H_RC_10      15
H_A_RC_10      12
H_H_RC_A_10    15
H_A_RC_A_10    12
dtype: int64

DataFrame after KNN imputation:

,FTR,Referee,H_HRP_10,H_ARP_10,H_H_P_5,H_A_P_5,H_H2H_H_2,H_H2H_A_2,H_H_GS_10,H_A_GS_10,...,H_H_F_A_10,H_A_F_A_10,H_H_YC_10,H_A_YC_10,H_H_YC_A_10,H_A_YC_A_10,H_H_RC_10,H_A_RC_10,H_H_RC_A_10,H_A_RC_A_10
0,A,C Kavanagh,3.0,5.8,1.8,0.6,0.0,0.0,4.0,9.6,...,32.6,63.2,4.2,7.2,5.6,9.4,0.0,0.2,0.2,0.6
1,H,J Moss,3.0,5.8,1.8,0.6,0.0,0.0,4.0,9.6,...,32.6,63.2,4.2,7.2,5.6,9.4,0.0,0.2,0.2,0.6
2,H,M Oliver,3.0,5.8,1.8,0.6,0.0,0.0,4.0,9.6,...,32.6,63.2,4.2,7.2,5.6,9.4,0.0,0.2,0.2,0.6
3,A,S Attwell,3.0,5.8,1.8,0.6,0.0,0.0,4.0,9.6,...,32.6,63.2,4.2,7.2,5.6,9.4,0.0,0.2,0.2,0.6
4,A,A Taylor,3.0,5.8,1.8,0.6,0.0,0.0,4.0,9.6,...,32.6,63.2,4.2,7.2,5.6,9.4,0.0,0.2,0.2,0.6

NaN count after KNN imputation:

FTR            0
Referee        0
H_HRP_10       0
H_ARP_10       0
H_H_P_5        0
H_A_P_5        0
H_H2H_H_2      0
H_H2H_A_2      0
H_H_GS_10      0
H_A_GS_10      0
H_H_GC_10      0
H_A_GC_10      0
H_H_HGS_10     0
H_A_HGS_10     0
H_H_HGC_10     0
H_A_HGC_10     0
H_H_S_10       0
H_A_S_10       0
H_H_S_A_10     0
H_A_S_A_10     0
H_H_ST_10      0
H_A_ST_10      0
H_H_ST_A_10    0
H_A_ST_A_10    0
H_H_C_10       0
H_A_C_10       0
H_H_C_A_10     0
H_A_C_A_10     0
H_H_F_10       0
H_A_F_10       0
H_H_F_A_10     0
H_A_F_A_10     0
H_H_YC_10      0
H_A_YC_10      0
H_H_YC_A_10    0
H_A_YC_A_10    0
H_H_RC_10      0
H_A_RC_10      0
H_H_RC_A_10    0
H_A_RC_A_10    0
dtype: int64

rf_df has been updated with KNN imputed values.

# Split

In [22]:
print(df['Season'].unique())

['2020-21' '2021-22' '2022-23' '2023-24' '2024-25']

# Encode

# Model